.reviews .containerInput {
    display: flex;
    flex-direction: column;
}

.reviews .containerInput h2:first-child,
.reviews .reviewTitle {
    margin-top: 55px;
}

.reviews .addReviewButton {
    color: #fff;
    padding: 10px 25px;
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
}

.reviews .addReviewButton:hover,
.reviews .addReviewButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.reviews .addReviewButton:active {
    opacity: .5;
}