.catalogueItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    margin: 20px;
}

.catalogueItem .imageContainer {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogueItem .imageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.catalogueItem h2,
.catalogueItem h3 {
    margin-top: 4px;
}

.catalogueItem .title {
    height: 80px;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    text-align: center;
}

.catalogueItem .showMoreButton {
    color: #fff;
    padding: 10px 25px;
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
}

.catalogueItem .showMoreButton:hover,
.catalogueItem .showMoreButton:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.catalogueItem .showMoreButton:active {
    opacity: .5;
}
